.page5{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.page5Image{
    width: 100%;
    height: auto;
}

.rightSide5 {
    width: 60%;
    height: 90vh;
    margin-left: 20%;
    margin-top: 30pt;
}

.firstReg{
    display: flex;
    justify-content: space-between;
}

.pNumber5{
    background-color: #9474c2;
    border-radius: 0.2cm;
    width: 50pt;
    margin-left: 80pt;
    color: white;
    padding-left: 1em;
}

.reg5{
    font-weight: 500;
}

.page5LineBreak{
    background-color: #9474c2;
    height: 1px;
    margin-top: 10px;
}

.page5Input{
    width: 75%;
    border-width: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 6vh;
    padding-left: 20px;
    padding-top: 7px;
    margin-left: 50pt;
    border-color: rgb(128, 128, 128);
}

.nok{
    font-weight: 500;
    font-size: 20px;
    margin-top: 6px;
    margin-right: 100pt;
}

.bvn{
    font-weight: 500;
    font-size: 20px;
    margin-top: 6px;
    margin-right: 160pt;
}


.page5Input::placeholder{
    font-weight: 200;
    font-size: large;
    margin-right: 5px;
}

.continue5 {
    text-align: center;
    color: white;
    background-color: #55229e;
    border-radius: 5px;
    height: 50px;
    width: 80%;
    border-width: 0px;
    margin-top: 50px;
    margin-left: 40pt;
    font-size: 30px;
    font-weight: 600;
    }
    
.prev5{
    margin-right: 200pt;
    font-weight: 600;
    font-size: 18px;
}



