.page8{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.page8Image{
    width: 100%;
    height: auto;
}

.rightSide8 {
    width: 60%;
    height: 90vh;
    margin-left: 20%;
    margin-top: 30pt;
    margin-top: 30%;
}

.enterNewP8{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
    /* margin-right: 7pc; */
    margin-left: 1em;
}

.enterNewPImage8{
    margin-bottom: 40pt;
    margin-left: 5em;
}


.page8Input{
    width: 75%;
    border-width: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 6vh;
    padding-left: 20px;
    padding-top: 7px;
    margin-left: 17pt;
    border-color: rgb(128, 128, 128);
}

.page8Input::placeholder{
    font-weight: 200;
    font-size: large;
    margin-right: 5px;
}


.reset8{
    text-align: center;
    color: white;
    background-color: #55229e;
    border-radius: 0.2cm;
    height: 60px;
    width: 82%;
    border-width: 0px;
    margin-top: 50px;
    margin-left: 21pt;
    font-size: 30px;
    font-weight: 600;

}

.cancel6{
    font-weight: 500;
    font-size: 20px;
    margin-left: 250pt;
}


.modalDiv8{
    position: fixed;
    z-index: 1;
    padding-top: 15em;
    left:  0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent8{
    margin: auto;
    width: 23em;    
    height: 10em;
    background-color: #fff;
    border-radius: .5cm;
    margin-left: 56em;
    margin-top: 5em;
}

.modal8{
    /* padding-right: 1cm; */
    padding-left: 2cm;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 2.5em;
    margin-left: 1.5em;
}
/* .modalSpan8{
    height: 2em;
    width: 2em;
} */


.successMark8{
    height: 1em;
    width: 1em;
    padding-left: 0.5em;
}

.page8ModalLink{
    margin-left: 13em;
}


